



	@media(min-width: 931px) and (max-width: 1030px){

		#contenedor{width: 900px; height: 3020px; background-color: none; margin: 0 auto;}

		header{width: 900px;
			height: 120px;
			background-color: none;}

			header img{margin-left: 344px;}

		nav{width: 900px;
			height: 700px;
			margin: 0 auto;
			background-image: url(foto6.png);
			margin-top: -8px;
			position: static;
			display: block;
			float: left;}

			#opaco{width: 900px;
				height: 700px;
				background-color: rgba(255,255,255,0.7);}

			fieldset{width: 330px;
				height: 480px;
				border: double 5px grey;
				border-radius: 20px;
				margin: 0 auto;
				margin-top: 20px;
				background-color: rgba(255,255,255,0.5);}

			h1{font-family: century gothic;
				font-size: 23pt;
				color: darkblue;
				text-align: center;}

			input{width: 280px;
				height: 45px;
				background-color: black;
				border: none;
				border-radius: 20px;
				margin-top: 40px;
				margin-left: 25px;
				color: white;
				font-size: 15pt;
				text-align: center;}

			#boton{width: 95px;
				height: 35px;
				background-color: darkblue;
				border: none;
				border-radius: 20px;
				margin-top: 40px;
				margin-left: 117px;
				color: white;
				font-family: century gothic;
				font-size: 15pt;}

		article{width: 900px;
			height: 2150px;
			background-color: white;
			position: static;
			display: block;
			float: left;}

			#cuadro1{width: 400px; 
				height: 500px; 
				background-color: lightgrey; 
				margin-left: 250px;
				margin-top: 150px; 
				float: left; 
				display: block; 
				position: static;
				border: double 5px grey;
				border-radius: 20px;}

			#cuadro2{width: 400px; 
				height: 500px; 
				background-color: lightgrey; 
				margin-left: 250px;
				margin-top: 150px; 
				float: left; 
				display: block; 
				position: static;
				border: double 5px grey;
				border-radius: 20px;}

			#cuadro3{width: 400px; 
				height: 500px; 
				background-color: lightgrey; 
				margin-left: 250px;
				margin-top: 150px; 
				float: left; 
				display: block; 
				position: static;
				border: double 5px grey;
				border-radius: 20px;}

		section p{font-family: century gothic;
			font-size: 22pt;
			text-align: center;
			font-weight: bolder;}

			.texto{margin-left: 20px; margin-right: 20px; text-align: justify; font-weight: normal;}

		footer{width: 900px;
			height: 185px;
			background-color: #00a2e8;
			position: static;
			display: block;
			float: left;
			bottom: 0px;}

			a{margin-left: 180px;
				font-family: century gothic; 
				font-size: 20pt;
				color: white; 
				font-weight: bolder;
				vertical-align: bottom;
				float: left;
				display: block;
				position: static;
				margin-top: 30px;}

			label{font-family: century gothic; 
				 font-size: 20pt; 
				 color: white; 
				 font-weight: bolder;}
	
			select{width: 100px; 
				height: 40px; 
				border: none; 
				border-radius: 20px; 
				background-color: #99d9ea; 
				font-family: century gothic; 
				font-size: 15pt;
				color: grey;
				font-weight: bolder;
				text-align: center;}

				#lenguaje{margin-left: 545px; margin-top: 90px;}

				#usuario2{display: none; margin-top: -15px;}

				#contraseña2{display: none;}

				#boton2{display: none;
				width: 95px;
				height: 35px;
				background-color: darkblue;
				border: none;
				border-radius: 20px;
				margin-top: 40px;
				margin-left: 117px;
				color: white;
				font-family: century gothic;
				font-size: 15pt;}

				#logo1{display: none;}
				#logo2{display: block;}
				#logo3{display: none;}

	}