



	@media(min-width: 631px) and (max-width: 730px){

		#contenedor{width: 600px;
				height: 2150px;
				background-color: none;
				margin: 0 auto;}

			header{width: 600px;
					height: 150px;
					background-color: #004080;
					display: block;
					position: static;
					float: left;
					top: 0px;}

					header img{margin-left: 150px;}

					header input{width: 140px; 
								height: 40px; 
								border-bottom: double 5px black;
								border-left: double 5px black; 
								border-top: double 5px grey; 
								border-radius: 10px;
								display: block;
								position: relative;
								bottom: 100px;
								left: 450px;
								background-color: #c3c3c3;
								color: white;
								font-family: century gothic;
								font-size: 13pt;
								font-weight: bolder;}

				nav{width: 600px;
					height: 50px;
					background-color: #c3c3c3;
					display: block;
					position: static;
					float: left;
					top: 150px;}

					nav img{display: none;}

					label{font-size: 15pt; position: relative; top: 5px; left: 20px;}

					#buscar{width: 350px; 
					height: 30px; 
					border-radius: 50px; 
					margin-left: 30px;
					position: relative;
					top: 7px;
					border: none; 
					font-size: 18pt; 
					text-align: center;
					font-family: calibri;}

					#ok{width: 80px; 
						height: 40px; 
						border-radius: 20px;
						position: relative;
						top: 7px;
						background-color: black; 
						border: double 5px white; 
						color: white;
						font-family: century gothic;
						font-size: 12pt;}

					#menu{visibility: hidden;}

				#menu-res{width: 600px;
					height: 50px;
					background-color: #004080;
					display: block; 
					position: static; float: left;}

					#menu-res a{font-family: century gothic; 
						font-size: 20pt; 
						color: white; 
						font-weight: bolder; 
						text-decoration: none;}

					#menu-res1{list-style-type: none; margin-left: -48px; margin-top: 7px; text-align: center;}

					#cajita1-1{float: left; width: 130px; 
						height: 35px; 
						background-color: #c3c3c3; 
						margin-left: 8px;}

					#cajita2-1{float: left; width: 168px; 
						height: 35px; 
						background-color: #c3c3c3; 
						margin-left: 8px;}

					#cajita3-1{float: left; width: 130px; 
						height: 35px; 
						background-color: #c3c3c3; 
						margin-left: 8px;}

					#cajita4-1{float: left; width: 148px; 
						height: 35px; 
						background-color: #c3c3c3; 
						margin-left: 8px;}


				article{width: 600px;
					height: 1850px;
					background-color: white;
					display: block;
					position: static;
					float: left;}

					#cuadro1{width: 600px; height: 300px; background-color: orange; margin-top: 100px; visibility: hidden;}
					#cuadro2{width: 600px; height: 300px; background-color: yellow; margin-top: 100px; visibility: hidden;}
					#cuadro3{width: 600px; height: 300px; background-color: green; margin-top: 100px; visibility: hidden;}
					#cuadro4{width: 600px; height: 300px; background-color: red; margin-top: 100px; visibility: hidden;}

					p{font-family: century gothic; 
						font-size: 45pt; 
						font-weight: bolder; 
						color: #004080; 
						text-align: center; 
						padding-top: 100px;}

					h1{font-family: century gothic;
						font-size: 30pt;
						font-weight: bolder;
						color: #004080;
						text-align: center;
						margin-top: 150px;
						margin-left: 100px;
						margin-right: 100px;}

					#cuadrotitulo{width: 600px; 
						height: 879px; 
						background-color: white;
						position: absolute;
						float: left; 
						display: block;
						margin-top: 13px;}

					#pincha{position: static;
						width: 300px;
						height: 100px;
						margin-top: 50px;
						margin-left: 150px;
						background-color: #c3c3c3;
						border: double 5px black;
						border-radius: 20px;
						font-family: century gothic;
						font-size: 50pt;
						color: white;
						font-weight: bolder;
						cursor: pointer;}

					#tienda1,#tienda2,#tienda3,#tienda4{display: none;}

					#tutor{width: 200px; 
						height: 70px; 
						background-color: #004080;
						border: double 5px #c3c3c3;
						top: 300px;
						left: 250px;
						position: fixed;
						cursor: pointer;
						visibility: hidden;
						font-family: century gothic;
						font-size: 36pt;
						color: white;}

					#tutorial{width: 500px; 
						height: 300px; 
						background-color: white; 
						border: solid 4px #004080;
						position: fixed;
						top: 420px;
						left: 90px;
						display: none;}

					#equis-tutor{margin-left: 225px; margin-top: -20px; cursor: pointer;}

					#tutorial p{font-family: calibri; 
						font-size: 13pt;
						text-align: justify;
						color: #004080; 
						margin-top: -80px;
						margin-left: 20px;
						margin-right: 20px;}

	}